<script type="text/javascript">
   var posts = ["logo-aaron.png", "logo-bonds.png", "logo-dimaggio.png", "logo-foxx.png", "logo-gehrig.png", "logo-greenberg.png", "logo-griffey-jr.png", "logo-hornsby.png", "logo-jacksonr.png", "logo-killebrew.png", "logo-mantle.png", "logo-mays.png", "logo-robinson.png", "logo-ruth.png", "logo-schmidt.png", "logo-thomas.png", "logo-williams.png", "logo-maris.png"];
    document.write('<img itemprop="logo" src="{{ site.url }}/images/' + posts[Math.floor(Math.random() * posts.length)] + '" alt="{{ site.title }} Logo" />'); 
</script>